@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "OpenSans Bold";
  src: url("../fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "OpenSans SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf"); }

@font-face {
  font-family: "OpenSans Light";
  src: url("../fonts/OpenSans-Light.ttf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default; }

body {
  background-color: #FAFAFA; }

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; }

.content {
  display: flex;
  width: 80%;
  max-width: 1200px; }

table {
  border-collapse: collapse;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  width: 100%; }
  table thead {
    color: #FAFAFA;
    background-color: #222;
    border: 1px solid #222;
    font-family: "OpenSans";
    width: 100%; }
    table thead tr th {
      text-align: left;
      padding: .5rem 0 .5rem 1rem; }
  table tbody {
    width: 100%;
    border: 1px solid #A2A2A2; }
    table tbody tr {
      width: 100%;
      color: #A2A2A2;
      font-family: "OpenSans SemiBold"; }
      table tbody tr td {
        padding: .3rem 0 .3rem 1rem; }
      table tbody tr .actions {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.2rem;
        width: 100%; }
        table tbody tr .actions .edit, table tbody tr .actions .remove {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 25%;
          padding: .3rem;
          color: #FAFAFA;
          background-color: #A2A2A2;
          border-radius: 3px;
          cursor: pointer;
          transition: .2s ease 0s; }
        table tbody tr .actions .edit:hover {
          background-color: #0057BF; }
        table tbody tr .actions .remove:hover {
          background-color: #B00000; }
      table tbody tr:hover {
        color: #FAFAFA;
        background-color: #a000a6; }

nav {
  color: #FAFAFA;
  background-color: #222;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0; }
  nav .content {
    align-items: center;
    justify-content: space-between;
    font-family: "OpenSans Light";
    font-size: 1.3rem;
    padding: .8rem 0; }
    nav .content span {
      font-size: 1.6rem; }

#searchbar {
  margin: 6rem 0 4rem; }
  #searchbar .content {
    flex-direction: column;
    height: 100%; }
    #searchbar .content .searchbox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 2.5rem; }
      #searchbar .content .searchbox .button {
        cursor: pointer; }
        #searchbar .content .searchbox .button span {
          cursor: pointer;
          margin-left: .5rem; }
      #searchbar .content .searchbox .button-box {
        display: flex;
        width: 84%;
        height: 100%; }
        #searchbar .content .searchbox .button-box #filters-button {
          display: flex;
          align-items: center;
          justify-content: center;
          color: #FAFAFA;
          background-color: #222;
          border-radius: 5px 0 0 5px;
          font-family: "OpenSans";
          width: 20%; }
        #searchbar .content .searchbox .button-box input[type=text] {
          color: #222;
          background-color: #FAFAFA;
          border-radius: 0 5px 5px 0;
          border: 1px solid #A2A2A2;
          font-family: "OpenSans";
          font-size: 1rem;
          width: 80%;
          height: 100%;
          padding: 0 .5rem; }
      #searchbar .content .searchbox .search-button {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FAFAFA;
        background-color: #a000a6;
        border-radius: 5px;
        font-family: "OpenSans Bold";
        width: 15%;
        height: 100%; }
    #searchbar .content #filters {
      display: none;
      justify-content: space-between;
      background-color: #FAFAFA;
      border-radius: 5px;
      border: 1px solid #A2A2A2;
      width: 100%;
      padding: 1rem 2rem;
      margin-top: 1rem; }
      #searchbar .content #filters > div h3 {
        color: #222;
        font-family: "OpenSans Bold";
        margin-bottom: .5rem; }
      #searchbar .content #filters > div > div label {
        color: #7c7c7c;
        font-family: "OpenSans"; }

.tables .content {
  align-items: center;
  justify-content: space-between; }
  .tables .content .table {
    color: #A2A2A2;
    background-color: #FAFAFA;
    font-family: "OpenSans Bold";
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease 0s;
    width: 15rem;
    padding: .7rem 0;
    border: 1px solid #A2A2A2;
    border-radius: 5px;
    box-shadow: 0 2px 1px 1px rgba(24, 24, 24, 0.1); }
    .tables .content .table span {
      margin-right: .5rem;
      cursor: pointer; }
    .tables .content .table .title {
      cursor: pointer; }
    .tables .content .table:hover {
      transform: scale(1.1);
      box-shadow: 0 7px 3px 1px rgba(24, 24, 24, 0.1); }
  .tables .content .table-selected {
    color: #FAFAFA;
    background-color: #a000a6;
    border: 1px solid #a000a6; }

.table_selected {
  margin-top: 1.5rem; }
  .table_selected .content {
    flex-direction: column; }
    .table_selected .content table tbody tr td {
      cursor: pointer; }
    .table_selected .content .pagination {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 1rem 0 2rem 0; }
      .table_selected .content .pagination #prev-page span {
        margin-right: .8rem; }
      .table_selected .content .pagination #next-page span {
        margin-left: .8rem; }
      .table_selected .content .pagination #prev-page, .table_selected .content .pagination #next-page {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FAFAFA;
        background-color: #222;
        font-family: "OpenSans Bold";
        width: 20%;
        padding: .8rem 0;
        border-radius: 5px;
        cursor: pointer; }

#banner {
  height: 20vh;
  max-height: 150px;
  margin-top: 3rem;
  background-color: #222; }
  #banner .content {
    height: 70%;
    position: relative;
    z-index: 1;
    align-items: flex-end;
    justify-content: flex-end; }
    #banner .content .user-img {
      position: absolute;
      bottom: -5rem;
      left: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      overflow: hidden;
      width: 10rem;
      height: 10rem;
      color: #FAFAFA;
      background-color: #a000a6;
      border-radius: 50%; }
      #banner .content .user-img span {
        font-size: 7rem;
        margin-bottom: -.8rem; }
    #banner .content .name {
      color: #FAFAFA;
      font-family: "OpenSans Light";
      font-size: 2rem; }

#information {
  margin-top: 20vh; }
  #information .content {
    flex-direction: column;
    justify-content: center; }
    #information .content h1 {
      color: #222;
      font-family: "OpenSans Bold"; }
    #information .content .data {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      margin-top: 2rem; }
      #information .content .data > div {
        color: #A2A2A2;
        font-family: "OpenSans Bold";
        font-size: 1.3rem; }
        #information .content .data > div:hover {
          color: #222; }

#salaries {
  margin-top: 7rem; }
  #salaries .content {
    flex-direction: column; }
    #salaries .content h1 {
      color: #222;
      font-family: "OpenSans Bold"; }
    #salaries .content table {
      margin: 2rem 0 4rem; }
