*
	margin: 0
	padding: 0
	box-sizing: border-box
	cursor: default
	
body
	background-color: $WHITE

.container
	display: flex
	align-items: center
	justify-content: center
	width: 100%

.content
	display: flex
	width: $WIDTH
	max-width: $MAX_WIDTH